<header ng-switch on="$location.path().indexOf('/Questions/new') > -1">
    <h3 ng-switch-when="true">Create a new Question</h3>
    <h3 ng-switch-when="false">View or edit Question</h3>
</header>
<form id="QuestionForm" name="QuestionForm" class="form-horizontal" role="form">
    <div ng-show="displayError" class="alert alert-danger">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    
    <div class="form-group" ng-class="{'has-error': QuestionForm.text.$invalid}">
        <label for="text" class="col-sm-2 control-label">Text</label>
        <div id="textControls" class="col-sm-10">
            <input id="text" name="text" type="text" class="form-control" ng-model="question.text" placeholder="Enter the Question Text"></input>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveQuestion" name="saveQuestion" class="btn btn-primary" ng-disabled="isClean() || QuestionForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteQuestion" name="deleteQuestion" class="btn btn-danger" ng-show="question.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>