<header ng-switch on="$location.path().indexOf('/Responses/new') > -1">
    <h3 ng-switch-when="true">Create a new Response</h3>
    <h3 ng-switch-when="false">View or edit Response</h3>
</header>
<form id="ResponseForm" name="ResponseForm" class="form-horizontal" role="form">
    <div ng-show="displayError" class="alert alert-danger">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    
    <div class="form-group" ng-class="{'has-error': ResponseForm.text.$invalid}">
        <label for="text" class="col-sm-2 control-label">Text</label>
        <div id="textControls" class="col-sm-10">
            <input id="text" name="text" type="text" class="form-control" ng-model="response.text" placeholder="Enter the Response Text"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ResponseForm.valid.$invalid}">
        <label for="valid" class="col-sm-2 control-label">Valid</label>
        <div id="validControls" class="col-sm-10">
        <select id="valid" name="valid" class="form-control" ng-model="response.valid" ng-options="v for v in validList"  >
            <option value="">Choose a Valid</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ResponseForm.question.$invalid}">
        <label for="question" class="col-sm-2 control-label">Question</label>
        <div id="questionControls" class="col-sm-10">
        <select id="question" name="question" class="form-control" ng-model="questionSelection" ng-options="q.text for q in questionSelectionList"  >
            <option value="">Choose a Question</option>
        </select>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveResponse" name="saveResponse" class="btn btn-primary" ng-disabled="isClean() || ResponseForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteResponse" name="deleteResponse" class="btn btn-danger" ng-show="response.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>